body {
  background: rgb(236, 250, 250);
  background: linear-gradient(97deg, rgba(236, 250, 250, 1) 15%, rgba(215, 198, 244, 1) 50%, rgba(249, 240, 235, 1) 81%);
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.col-lg-4.col-sm-6.text-center {
  width: max-content;
}

h1 {
  font-size: 55px !important;
}

h2 {
  font-size: 40px !important;
}

a {
  color: black !important;
  text-decoration: none !important;
  font-size: 20px;
  font-weight: 500;
}

.rating-color {
  color: #fbc634 !important;
}


footer {
  background: rgb(237, 227, 243);
  background: linear-gradient(97deg, rgba(237, 227, 243, 1) 50%, rgba(223, 239, 238, 1) 81%, rgba(206, 229, 243, 1) 85%);
}

.bg-custome {
  background: rgb(74, 91, 249);
  background: linear-gradient(185deg, rgba(74, 91, 249, 1) 44%, rgba(123, 134, 244, 1) 66%);
  border-radius: 30px;
  width: 100%;
}

img.img-fluid.rounded {
  mix-blend-mode: darken;
}

.footer_lnks {
  font-size: 15px !important;
}

.bgnf {
  color: #25a3f7;

}

.tttt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.brder {
  border-radius: 30px;
}

.bg-pinkiponki {
  background-color: #c0128d;
}


@media screen and (max-width: 480px) {
  body {
    background: rgb(236, 250, 250);
    background: linear-gradient(97deg, rgba(236, 250, 250, 1) 15%, rgba(215, 198, 244, 1) 50%, rgba(249, 240, 235, 1) 81%);
  }

  .navbar-nav.mx-lg-5.gap-3 {
    /* background: rgb(236, 250, 250); */
    /* background: linear-gradient(97deg, rgb(139 113 251) 15%, rgb(171 136 231) 50%, rgb(135 129 240) 81%); */
    border-radius: 25px;
    padding: 20px;
    text-align: right;
  }

  button:focus:not(:focus-visible) {
    color: rgb(81, 81, 197);
  }

  .col-lg-4.col-sm-6.bg-custome.text-center {
    width: 50%;
    width: auto;
    display: inline-block;
  }

  .col-lg-4.col-sm-6.text-center {
    width: 50%;
    display: inline-block;
  }
}

@media screen and (max-width: 400px) {}


@media screen and (max-width: 991px) {

  .col-lg-6.col-sm-1.py-5 {
    width: auto;
  }

  .col-lg-6.col-sm-1 {
    width: auto;
  }

  div#navbarCollapse {
    background-color: rgb(149, 149, 243);
    padding: 45px;
    border-radius: 25px;

    box-shadow: 12px 12px rgb(96, 169, 172);
  }

  .form-inline.mr-auto {
    visibility: hidden;
  }

}